# PHP / Laravel
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/private
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/bootstrap/cache/.gitkeep
.env
.env.*.local
.env.local
.phpunit.cache
.phpunit.result.cache
auth.json
composer.lock
package-lock.json
yarn.lock

# Editors
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Sublime cruft (from original repo)
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
