<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing" force="false"/>
        <env name="APP_DEBUG" value="true" force="false"/>
        <env name="APP_KEY" value="base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" force="false"/>
        <env name="BCRYPT_ROUNDS" value="4" force="false"/>
        <env name="CACHE_STORE" value="array" force="false"/>
        <env name="DB_CONNECTION" value="mysql" force="false"/>
        <env name="DB_DATABASE" value="hangover_test" force="false"/>
        <env name="MAIL_MAILER" value="array" force="false"/>
        <env name="PULSE_ENABLED" value="false" force="false"/>
        <env name="QUEUE_CONNECTION" value="sync" force="false"/>
        <env name="SESSION_DRIVER" value="array" force="false"/>
        <env name="TELESCOPE_ENABLED" value="false" force="false"/>
        <env name="BROADCAST_CONNECTION" value="log" force="false"/>
    </php>
</phpunit>
